name: CI/CD

on:
    push:
    pull_request:

jobs:
    audit:
        name: CI/CD
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                version: ['7.3', '7.4', '8.0', '8.1']

        services:
            electionguard-mediator-1:
                image: electionguard/electionguard-web-api
                env:
                    API_MODE: mediator
                ports:
                    - "8000:8000"
            electionguard-mediator-2:
                image: electionguard/electionguard-web-api
                env:
                    API_MODE: mediator
                ports:
                    - "8001:8000"
            electionguard-mediator-3:
                image: electionguard/electionguard-web-api
                env:
                    API_MODE: mediator
                ports:
                    - "8002:8000"
            electionguard-mediator-4:
                image: electionguard/electionguard-web-api
                env:
                    API_MODE: mediator
                ports:
                    - "8003:8000"
            electionguard-guardian:
                image: electionguard/electionguard-web-api
                env:
                    API_MODE: guardian
                ports:
                    - "9000:8000"
        steps:
            -   name: Checkout code
                uses: actions/checkout@v2

            -   name: Setup PHP
                uses: php-actions/composer@v6
                with:
                    php_version: ${{ matrix.version }}
                    progress: yes

            -   name: Perform tests
                run: composer run-script --timeout 600 test -- --do-not-cache-result
                env:
                    ELECTIONGUARD_MEDIATOR_HOST: 127.0.0.1:8000;127.0.0.1:8001;127.0.0.1:8002;127.0.0.1:8003
                    ELECTIONGUARD_GUARDIAN_HOST: 127.0.0.1:9000

            -   name: Upload generated election records
                uses: actions/upload-artifact@v3
                with:
                    name: election-records
                    path: ${{ github.workspace }}/tests/work
